<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>간단한 지도 표시하기</title>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=73qkoqmj6s"></script>
</head>
<body>
<div id="map" style="width: 605px; height: 380px;"></div>

<script>

    <!-- 여기에 동적으로 데이터를 렌더링할 수도 있습니다.=>좌표데이터를 렌더링. -->
        var jsonData = {
            "path":  [
        [            37.5668417,            126.978588        ],
        [            37.5668621,            126.9776967        ],
        [            37.5669781,            126.9776347        ],
        [            37.5670572,            126.9776024        ],
        [            37.5753021,            126.9764362        ],
        [            37.5754594,            126.9761248        ]
    ]
        };

        var mapOptions = {
            center: new naver.maps.LatLng(  37.5754594, 126.9761248  ),
            zoom: 13
        };

        var map = new naver.maps.Map('map', mapOptions);

        });
    </script>
</body>
</html>
