<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>간단한 지도 표시하기</title>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=73qkoqmj6s"></script>
</head>
<body>
<div id="map" style="width: 605px; height: 380px;"></div>

<script>
        var jsonData = {
            "path":  [
        [            37.5668417,            126.978588        ],
        [            37.5668621,            126.9776967        ],
        [            37.5669781,            126.9776347        ],
        [            37.5670572,            126.9776024        ],
        [            37.5670574,            126.9774326        ],
        [            37.5670572,            126.9773896        ],
        [            37.5670571,            126.9773714        ],
        [            37.5670538,            126.9772299        ],
        [            37.5672737,            126.9772341        ],
        [            37.5677234,            126.9772162        ],
        [            37.5679217,            126.9772148        ],
        [            37.5680065,            126.9772142        ],
        [            37.5687572,            126.9771931        ],
        [            37.5693387,            126.9772208        ],
        [            37.5695036,            126.9772264        ],
        [            37.5696452,            126.9772288        ],
        [            37.5697316,            126.9772101        ],
        [            37.5700071,            126.9771459        ],
        [            37.5700838,            126.9771567        ],
        [            37.5701839,            126.9771695        ],
        [            37.5703913,            126.9771783        ],
        [            37.570394,            126.9771783         ],
        [            37.570696,            126.9771988         ],
        [            37.5708132,            126.9772059        ],
        [            37.5708934,            126.977211         ],
        [            37.5715173,            126.9772406        ],
        [            37.5715597,            126.9772415        ],
        [            37.5716309,            126.9772455        ],
        [            37.5725664,            126.977214        ],
        [            37.5725853,            126.9772128        ],
        [            37.5726592,            126.9772123        ],
        [            37.5727322,            126.9772118        ],
        [            37.5735072,            126.977178        ],
        [            37.5741696,            126.9771485        ],
        [            37.5742516,            126.9771468        ],
        [            37.5744066,            126.9771366        ],
        [            37.5748879,            126.977131        ],
        [            37.5749365,            126.9771307        ],
        [            37.5750888,            126.9771137        ],
        [            37.5752085,            126.977088        ],
        [            37.575188,            126.9769239        ],
        [            37.5751891,            126.9767733        ],
        [            37.5752113,            126.9766837        ],
        [            37.5752326,            126.9766133        ],
        [            37.5753021,            126.9764362        ],
        [            37.5754594,            126.9761248        ]
    ]
        };

        var mapOptions = {
            center: new naver.maps.LatLng(  37.5754594, 126.9761248  ),
            zoom: 13
        };

        var map = new naver.maps.Map('map', mapOptions);

        var paths = jsonData.path; // json 데이터에서 path 배열 가져오기

        var polylinePath = [];
        paths.map((path) => {
            polylinePath.push(new naver.maps.LatLng(path[0], path[1])); // 위도와 경도 순서 바꾸기
        });

        const polyline = new naver.maps.Polyline({
            path: polylinePath, // 좌표배열
            strokeColor: "#FF0000", // 선의 색 빨강
            strokeOpacity: 0.8, // 선의 투명도
            strokeWeight: 4, // 선의 두께
            map: map, // 만들어 놓은 지도
        });
    </script>
</body>
</html>
